bin
obj
.vs
*.suo
packages
licenses.licx
Setup/NSRetail/Input/*
Setup/NSRetail/Output/*
Setup/NSRetailPOS/Input/*
Setup/NSRetailPOS/Output/*

!Setup/NSRetail/Input/.gitignore
!Setup/NSRetail/Output/.gitignore