<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.NsRetail"
        tools:targetApi="31">

        <activity
            android:name=".ui.activities.SplashActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.activities.LoginActivity" />
        <activity android:name=".ui.activities.MainActivity" />
        <activity android:name=".ui.activities.StockEntry.SupplierActivity" />
        <activity android:name=".ui.activities.StockEntry.AddStockEntryActivity" />
        <activity android:name=".ui.activities.StockEntry.StockEntryActivity" />
        <activity android:name=".ui.activities.StockEntry.ItemPriceActivity" />
        <activity android:name=".ui.activities.StockEntry.StockPreviewActivity" />
        <activity android:name=".ui.activities.StockDispatch.BranchActivity" />
        <activity android:name=".ui.activities.StockDispatch.CategoryActivity" />
        <activity android:name=".ui.activities.StockDispatch.StockDispatchActivity" />
        <activity android:name=".ui.activities.StockDispatch.AddStockItemActivity" />
        <activity android:name=".ui.activities.StockCounting.StockCountingActivity" />
        <activity android:name=".ui.activities.StockCounting.CountingBranchActivity" />
        <activity android:name=".ui.activities.StockCounting.AddCountingItemActivity" />

        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation" />

    </application>

</manifest>